<mat-list class="grid__body__list" *ngIf="data.length !== 0">
  <mat-list-item
    (click)="clickedItem(folder)"
    *ngFor="let folder of data"
    class="grid__body__list__item"
    [class.sel]="folder === selFolder"
  >
    <span class="grid__body__list__item__span" [ngSwitch]="true">
      <mat-icon *ngSwitchCase="folder.nodeClass === 'ObjectType'" mat-list-icon>settings</mat-icon>
      <mat-icon *ngSwitchCase="folder.nodeClass === 'Object'" mat-list-icon>folder</mat-icon>
      <mat-icon *ngSwitchCase="folder.nodeClass === 'Variable'" mat-list-icon>timeline</mat-icon>
      <mat-icon *ngSwitchCase="folder.nodeClass === 'Method'" mat-list-icon>code</mat-icon>
      <h4 class="grid__body__list__item__h3" mat-line>{{ folder.browseName.name }}</h4>
    </span>
  </mat-list-item>
</mat-list>
